<footer class="footer">
  <span class="text-muted pull-left">Created by Tamas Adanko</span>
  <span class="text-muted pull-right"><a href="https://github.com/adankot/todolist">Github</a></span>
</footer>