<footer class="footer">
  <span class="text-muted pull-left">Created by Tamas Adanko</span>
  <span class="text-muted pull-right">Github <a href="https://github.com/adankot/todolist">adankot/todolist</a></span>
</footer>