<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">New</div>
    <div class="panel-body">
      <form class="form-horizontal" action="/tasks" method="POST">
        <div class="form-group">
          <label for="email">Title:</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  {{#each tasks}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>{{this.title}}</span>
        <form>
          <button class="btn btn-danger" formaction="/tasks/{{this._id}}/delete">Delete</button>
        </form>
      </div>
      <div class="panel-body">
        <div>{{this.description}}</div>
        <div>{{this.createdAt}}</div>
      </div>
    </div>
  {{/each}}
  <form>
    <button class="btn btn-warning" formaction="/logout">Logout</button>
  </form>
</div>